@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@theme {
  --color-primary-50: #f4f9fc;
  --color-primary-100: #cbe6f0;
  --color-primary-200: #9fd0e3;
  --color-primary-300: #66add0;
  --color-primary-400: #0078be;
  --color-primary-500: #0047ab;
  --color-primary-600: #002f62;
  --color-primary-700: #00274f;
  --color-primary-800: #00121f;
  --color-primary-900: #000a12;
  
  /* Custom gradient variable */
  --gradient-primary: 002E62;
}

@layer utilities {
  .bg-primary-gradient {
    background-image: linear-gradient(to right, #0047AB, #002E62);
  }
}